<div style="display: flex; justify-content: space-between; padding: 3% 10%;">
    <button mat-raised-button style="color: green;" (click)="toggleTimer()">{{ startStopField }}</button>
    <button mat-raised-button style="color: orange;" (click)="getSplitTime()" [disabled]="!iFirst">Split</button>
    <button mat-raised-button style="color: rgb(175, 33, 33);" (click)="resetTimer()" [disabled]="!enableReset">Reset</button>
</div>
<div style="display: flex; justify-content: center;">
    <!-- <mat-label style="font-weight: 500; font-size: xx-large; color: blue;">
        {{ stopwatchTimer.seconds.d1 }}{{ stopwatchTimer.seconds.d2 }}
    </mat-label> -->
    <mat-label style="font-weight: 500; font-size: xx-large; color: blue;">
        {{ stopwatchTimer }}
    </mat-label>
</div>
<br>
<div style="display: flex; justify-content: center;">
    <mat-label style="font-weight: 500; font-size: large; color: purple;">
        {{ splitTime }}
    </mat-label>
</div>
<table>
    <tr>
        <th>#</th>
        <th>Track Record</th>
        <th>Type</th>
    </tr>
    <tr *ngFor="let tt of timerTable">
        <td>
            {{ tt.id }}
        </td>
        <td style="display: flex; justify-content: center;">
            {{ tt.trackRecord }}
        </td>
        <td>
            {{ tt.type }}
        </td>
    </tr>
</table>